@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/* Global Styles */



/* Global Variables */

:root {
  /* blue */
  --blue_level_0:#183B4E;
  --blue_level_1: #27548A;

  /* yellow */
  --yellow_level_0: #DDA853;
  --yellow_level_1: #f5d131;

  /* black */
  --dark_level_0: #202225;
  --dark_level_1: #292b2f;
  --dark_level_2: #40444b;
  --dark_level_3: #40444b;
  --dark_level_4: #40444b;


  /* white */
  --white_level_0: #f5f5f5;
  --white_level_1: #ffffff;

  /* FONTS */
--font_one: 'Montserrat', sans-serif;
--font_two: 'Open Sans', sans-serif;
--font_three: 'Poppins', sans-serif;
--font_four: 'Roboto', sans-serif;

/* FONT SIZES */
--font_size_0: 10px;
--font_size_1: 12px;
--font_size_2: 14px;
--font_size_3: 16px;
--font_size_4: 18px;
--font_size_5: 20px;
--font_size_6: 22px;
--font_size_7: 24px;
--font_size_8: 26px;
--font_size_9: 28px;
--font_size_10: 30px;

/* FONT WEIGHTS */
--font_weight_0: 100;
--font_weight_1: 200;
--font_weight_2: 300;
--font_weight_3: 400;
--font_weight_4: 500;
--font_weight_5: 600;
--font_weight_6: 700;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font_one);
  font-size: var(--font_size_2);
  font-weight:var(--font_weight_3);
  
}

body{
  background-color: var(--white_level_0);
  color: var(--dark_level_2);
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;

}



@keyframes rotate-icon {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}

.animated-icon {
  display: inline-block;
  transition: transform 0.4s ease-in-out;
}

.animated-icon.rotate {
  animation: rotate-icon 0.4s ease-in-out;
}


/* Navbar Styles */

nav {
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100%;
  background-color: var(--blue_level_0);
  color: var(--white_level_0);
  border-bottom: 1px solid rgba(83, 83, 83, 0.432);
}
nav .wrapper {
  position: relative;
  max-width: 1300px;
  padding: 0px 30px;
  height: 70px;
  line-height: 70px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}



/* Logo Styles */

.logo{
  position: relative;
  flex: 0.5;

  
}




.wrapper .logo a img {
  width: 100px;
  height: auto;
  margin-top: 30px;
  padding: 11px 10px;
  background-color: var(--white_level_0);
  position: relative;
  
 

}
.wrapper .nav-links {
  display: inline-flex;
  flex: 2;
  justify-content: center;
}
.nav-links li {
  list-style: none;
}
.nav-links li a {
  color: var(--text-color);
  text-decoration: none;
  font-size: 18px;
  font-weight: var(--font_weight_3);
  padding: 9px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.nav-links li a:hover {
  color: var(--accent-color);
}
.nav-links .mobile-item {
  display: none;
}

.dark_mode{
  margin-left: 140px;
}

.menu-btn{
  display: none;
}

.menu_open_icon{
  color: var(--white_level_0);
  width: 28px;
}


.cta_div{
  background-color:var(--yellow_level_0);
position: relative;
  
}

.wrapper .bookmark{ 
  position: absolute;
  top: 67%;
  left: 0;
  transform: translate(-50%, -50%);
  width: 6px;
  height: 150px;
  padding: 0px; 
  -webkit-transform: rotate(0deg) skew(0deg); 
  transform: rotate(0deg) skew(0deg); 
  border-left: 59px solid var(--yellow_level_0); 
  border-right: 60px solid var(--yellow_level_0); 
  border-bottom: 100px solid transparent; 
}


#cta {
  cursor: pointer;
  text-decoration: none;
  padding: 10px 20px;
  font-family: var(--font_three);
  color: var(--white_level_0);
  font-size: var(--font_size_5);
  font-weight: var(--font_weight_6);

}
/* Search Icon Styles */

/* Mega Menu Styles */

.nav-links li:hover .mega-box {
  transition: all 0.3s ease;
  top: 70px;
  opacity: 1;
  visibility: visible;
}
.drop-menu li a {
  width: 100%;
  display: block;
  padding: 0 0 0 15px;
  font-weight: 400;
  border-radius: 0px;
}
.mega-box {
  position: absolute;
  left: 0;
  width: 100%;
  padding: 0 30px;
  top: 85px;
  opacity: 0;
  visibility: hidden;
}
.mega-box .content {
  background: var(--blue_level_0);
  padding: 25px 20px;
  display: flex;
  border-top: 1px solid var(--white_level_1);
  width: 100%;
  justify-content: space-between;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}
.mega-box .content .row {
  width: calc(25% - 30px);
  line-height: 45px;
}

.row_img{
  display: flex;
  justify-content: center;  
  align-items: center;
}
.content .row img {
  width: 100%;
  height: auto;
  object-fit: fill;
}
.content .row header {
  color: var(--text-color);
  font-size: 20px;
  font-weight: 500;
}
.content .row .mega-links {
  margin-left: -40px;
  border-left: 1px solid var(--border-color);
}
.row .mega-links li {
  padding: 0 20px;
}
.row .mega-links li a {
  padding: 0px;
  padding: 0 20px;
  color: var(--text-color);
  font-size: 17px;
  display: block;
}
.row .mega-links li a:hover {
  color: var(--accent-color);
}

/* Button Styles (close and open menu) */

.wrapper .btn {
  color: var(--white_level_0);
  font-size: var(--font_size_9);
  cursor: pointer;
  display: none;
}
.wrapper .btn.close-btn {
  position: absolute;
  right: 30px;
  top: 10px;
  color: var(--white_level_0);
}

.wrapper .btn.close-btn .menu_close_icon{
  font-size: var(--font_size_8);
}
/* CTA Styles */



.searchicon {
  font-size: 25px;
  margin-top: 25px;
}


.moon_icon{
  width: 28px;
  color: white;
  margin-top: 20px;
}

.sun_icon{
  width: 28px;
  color: white;
  margin-top: 20px;
}
/* Close Icon Styles */

#close-icon {
  color: var(--text-color);
}

nav input {
  display: none;
}

/* Hero Section */
.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
  padding-top: 100px;
}

.hero-container {
  display: flex;
  max-width: 1200px;
  width: 100%;
  flex-direction: row; 
  gap: 20px;
}

/* Left Panel */
.left-panel {
flex: 1;
display: flex;
justify-content: end;
align-items: end;
}

.left_panel_container{
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}


.left-panel h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: var(--text-color);
}

.left-panel p {
  font-size: var(--font_size_4);
  margin-bottom: 20px;
  font-weight: var(--font_weight_2);
  color: #333;
}

.donate_button_lg {
  text-decoration: none;
  text-align: center;
  padding: 20px 20px;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.3s ease;
  font-size: 1.2rem;
  word-spacing: 6px;
  letter-spacing: 6px;
  font-weight: var(--font_weight_6);
  color: white;
  background-color: var(--blue_level_0);
  

}


.donate_button_lg:hover {

  color: white;
  
}

/* Right Panel */
.right-panel {
  flex: 1.5;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Top Section with Overlay */
.top-section {
  position: relative;
  border-radius: 0px;
  overflow: hidden;
}

.image-placeholder {
  position: relative;
}

.image-placeholder img {
  width: 100%;
  height: auto;
  border-radius: 0px;
}


/* Bottom Section */
.bottom-section {
  display: flex;
  gap: 20px;
}

/* events */




/* Events */

.timeline_events {
  background-color: #ffffff;
  opacity: 1;
  color: var(--white-color);
 
}


#timeline .timeline-item:after, header:after, #timeline .timeline-item:before, header:before {
  content: "";
  display: block;
  width: 100%;
  clear: both;
}
.timeline_events .container {
  max-width: 1100px;
  margin: 0 auto;
}

.project-name {
  text-align: center;
  padding: 10px 0;
}

#timeline {
  width: 100%;
  margin: 30px auto;
  position: relative;
  padding: 0 10px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
  background-color: var(--white_level_1);
}

.timeline_events .timeline_title {
  margin-top: 30px;
  text-align: center;
  font-size: 3rem;
  font-weight: 200;
  margin-bottom: 10px;
  color: var(--dark_level_1);
}

.timeline_events .timeline_sub_title {
  text-align: center;
  max-width: 90%;
  margin: auto;
  margin-bottom: 10px;
  color: var(--dark_level_2);
}

#timeline p {
  margin-top: 10px;
  color: var(--dark_level_2);
}

#timeline:before {
  content: "";
  width: 3px;
  height: 100%;
  background: var(--blue_level_0);
  left: 50%;
  top: 0;
  position: absolute;
}
#timeline:after {
  content: "";
  clear: both;
  display: table;
  width: 100%;
}
#timeline .timeline-item {
  margin-bottom: 50px;
  position: relative;
}
#timeline .timeline-item .timeline-icon {
  background: var(--blue_level_0);
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  left: 50%;
  overflow: hidden;
  margin-left: -23px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
#timeline .timeline-item .timeline_icon{
  position: relative;
  top: 14px;
  left: 14px;
  color: white;
  width: 20px;
  height: auto;
}
#timeline .timeline-item .timeline-content {
  width: 45%;
  background: #fff;
  padding: 20px;
  -webkit-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#timeline .timeline-item .timeline-content h2 {
  padding: 15px;
  background: var(--blue_level_0);
  color: #fff;
  margin: -20px -20px 0 -20px;
  font-weight: 300;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  -ms-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}
#timeline .timeline-item .timeline-content:before {
  content: "";
  position: absolute;
  left: 45%;
  top: 20px;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 7px solid var(--blue_level_0);
}
#timeline .timeline-item .timeline-content.right {
  float: right;
}
#timeline .timeline-item .timeline-content.right:before {
  content: "";
  right: 45%;
  left: inherit;
  border-left: 0;
  border-right: 7px solid var(--blue_level_0);
}

#timeline .btn {
  padding: 5px 15px;
  margin-top: 15px;
  text-decoration: none;
  background: transparent;
  border: 2px solid var(--blue_level_0);
  color: var(--blue_level_0);
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  font-size: 12px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: background 0.3s ease;
  -moz-transition: background 0.3s ease;
  -ms-transition: background 0.3s ease;
  transition: background 0.3s ease;
  -webkit-box-shadow: 2px 2px 0 var(--blue_level_0);
  -moz-box-shadow: 2px 2px 0 var(--blue_level_0);
  -ms-box-shadow: 2px 2px 0 var(--blue_level_0);
  box-shadow: 2px 2px 0 var(--blue_level_0);
}
#timeline .btn:hover {
  box-shadow: none;
  top: 2px;
  left: 2px;
  -webkit-box-shadow: 2px 2px 0 transparent;
  -moz-box-shadow: 2px 2px 0 transparent;
  -ms-box-shadow: 2px 2px 0 transparent;
  box-shadow: 2px 2px 0 transparent;
}

@media screen and (max-width: 768px) {
  #timeline {
    margin: 30px;
    padding: 0px;
    width: 90%;
  }
  #timeline:before {
    left: 0;
  }
  #timeline .timeline-item .timeline-content {
    width: 90%;
    float: right;
  }
  #timeline .timeline-item .timeline-content:before, #timeline .timeline-item .timeline-content.right:before {
    left: 10%;
    margin-left: -6px;
    border-left: 0;
    border-right: 7px solid var(--blue_level_0);
  }
  #timeline .timeline-item .timeline-icon {
    left: 0;
  }
}



/* FOOTER */

.footer {
  border-top: 1px solid var(--border-color);
  background-color: var(--primary-background-color);
  color: var(--text-color);
  padding: 40px 20px;
}


.footer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 10px;
}

.footer-section {
  flex: 1;
  min-width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer-section h4 {
  margin-bottom: 15px;
  font-size: 18px;
  text-transform: uppercase;
  border-bottom: 2px solid #555;
  display: inline-block;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 0px;
  font-size: 14px;
  border: 1px solid var(--text-color);
  background-color: transparent;
}

.contact-form textarea {
  resize: none;
  height: 80px;
}

.contact-form button {
  background-color: var(--accent-color2);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 0px;
  cursor: pointer;
  font-size: 14px;
}

.social-links {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}

.social-icon {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  padding: 10px;
  background-color: #333;
  border-radius: 50%;
  transition: background-color 0.3s;
}

.social-icon:hover {
  background-color: transparent;
}

.social-icon:hover #youtube {
  color: #ff0000;
}

.social-icon:hover #instagram {
  border-radius: 4px;
  background: linear-gradient(45deg, #f58529, #dd2a7b, #8134af, #515bd4);
  -webkit-text-fill-color: transparent;
  transition: transform 0.3s, filter 0.3s; /* Smooth hover effects */
}

.social-icon:hover #twitter {
  color: #007bff;
}

.social-icon:hover #facebook {
  color: #0000ff;
}
.social-icon:hover #LinkedIn {
  color: #0077b5;
}

.quick-links {
  list-style: none;
  padding: 0;
}

.quick-links li {
  margin: 5px 0;
}

.quick-links a {
  text-decoration: none;
  color: var(--text-color);
  transition: color 0.3s;
}

.quick-links a:hover {
  color: var(--accent-color);
}

.underline {
  border-top: 1px solid var(--border-color);
  background-color: var(--primary-background-color);
}

/* ############################ */

/* ABOUT STYLES */

.dividingline{
  margin-top: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Vision Section */

.mvv-section {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  margin-inline: 10px;
  margin-bottom: 20px;
}

.vision, .mission{
  display: flex;
  align-items: start;
  gap: 10px;
  margin-bottom: 20px;
}
.vision_title{
  font-size: 30px;
  font-weight: bolder;
}
.vision_word{
  font-size: 60px;
}

.mission_title{
  font-size: 30px;
  font-weight: bolder;
}
.mission_word{
  font-size: 50px;
}

.vision .img_container img{
  width:130px;
  height: auto;
}

.mission .img_container img{
  width:130px;
  height: auto;
}

.img_container {
  position: relative;
  display: inline-block;
}

.img_container img {
  width: 100%;
  height: auto;
  mix-blend-mode: multiply; 
}

.vision .img_container {
  background-color: #1f50c2; 
  border: 2px solid rgb(0, 0, 0);

}

.mission .img_container {
  background-color: #c79d00; 
  border: 2px solid rgb(0, 0, 0);
}


.mvv_divider{
  width: 100%;
  height: 2px;
  background-color: rgb(0, 0, 0);
  margin: auto; 
  margin-bottom: 10px;
}


/* Core Values */

.core_values_heading_container{
  display: flex;
  gap: 10px;
}
.core-values .img_container img{
  width:130px;
  height: auto;
}

.img_container {
  position: relative;
  display: inline-block;
}

.img_container img {
  width: 100%;
  height: auto;
  mix-blend-mode: multiply; 
}



.core-values .img_container {
  background-color: #28c700; 
  border: 2px solid rgb(0, 0, 0);
}




.core_values_title{
  font-weight: bolder;
  font-size: 30px;
}

.core_values_word{

  font-weight: bolder;
  font-size: 60px;
}

.core-values {
  text-align: start;
}

.core-values h1 {
  margin-bottom: 20px;
  font-size: 2em;
}

.core-values-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
  margin: auto;
}

.core-values-content {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.core-values-content:hover {
  transform: translateY(-5px);
}

.core-values-content h3 {
  margin-bottom: 10px;
  font-size: 1.5em;
}

.core-values-content p {
  font-size: 1em;
  color: #555;
}

/* Responsive Design */
@media (max-width: 600px) {
  .core-values-container {
      grid-template-columns: 1fr;
  }
}

/* Our Team */


.about-container {
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.about-header h1 {
  font-size: 2em;
  margin-bottom: 10px;
  text-align: center;
}
.about-header p {
  text-align: center;
}

.filter-buttons {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.filter-buttons button {
  padding: 10px 15px;
  margin: 5px;
  border: none;
  background: #ddd;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  transition: background 0.3s;
}

.filter-buttons button.active {
  background: #007bff;
  color: white;
}

.team {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.team-member {
  background: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: opacity 0.3s, transform 0.3s;
}

.team-member img {
  width: 100%;
  border-radius: 8px;
}

.team-member h3 {
  margin: 10px 0 5px;
  font-size: 1.2em;
}

.team-member p {
  color: #555;
  font-size: 0.9em;
}

.hidden {
  display: none;
}


/* ############################ */

/* CTA STYLES */

.cta-main {
  margin-top: 10px;
  padding-block: 70px;
  text-align: center;
  margin-inline: 30px;
}

.cta-main-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.cta-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;

  
}

.cta-right img {
  width: 400px;
  height: auto;
}

.cta-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cta-left h2 {
  font-size: 1.8em;
  margin: 0 0 10px;
  color: #333;
}

.cta-buttons {
  display: flex;
  gap: 10px;
}
.cta-left .cta-button-v {
  background-color: var(--accent-color);
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  margin: 0 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s;
  color: white;
}
.cta-left .cta-button-d {
  background-color: var(--accent-color2);
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  margin: 0 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s;
  color: white;
}

/* ###############################*/
/* Media Queries */

@media screen and (max-width: 970px) {

  .wrapper .logo{
    flex: 1;
   
  }

  .wrapper .btn {
    display: block;
  }
  .searchicon {
    display: none;
  }
  .wrapper .nav-links {
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    left: -100%;
    color: var(--text-color);
    background: var(--blue_level_0);
    display: block;
    padding: 50px 10px;
    line-height: 50px;
    overflow-y: auto;
    box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.18);
    transition: all 0.3s ease;
    z-index: 1000;
  }
  /* custom scroll bar */
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #242526;
  }
  ::-webkit-scrollbar-thumb {
    background: #3a3b3c;
  }

  #menu-btn:checked ~ .nav-links {
    left: 0%;
  }
  .menu-btn{
    margin-left: 10px;
    display: block;
  }
  
  .menu_icon{
    font-size: var(--font_size_8);
    color: var(--white_level_0);
  }
  #menu-btn:checked ~ .btn.menu-btn {
    display: none;
  }
  #close-btn:checked ~ .btn.menu-btn {
    display: block;
  }
  .nav-links li {
    margin: 15px 10px;
  }
  .nav-links li a {
    padding: 0 20px;
    display: block;
    font-size: 20px;
    
  }
  .nav-links .drop-menu {
    position: static;
    opacity: 1;
    top: 65px;
    visibility: visible;
    padding-left: 20px;
    width: 100%;
    max-height: 0px;
    overflow: hidden;
    box-shadow: none;
    transition: all 0.3s ease;
  }
  #showDrop:checked ~ .drop-menu,
  #showMega:checked ~ .mega-box {
    max-height: 100%;
  }
  .nav-links .desktop-item {
    display: none;
  }
  .nav-links .mobile-item {
    display: block;
    color: var(--text-color);
    font-size: 20px;
    font-weight: 500;
    padding-left: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  .nav-links .mobile-item:hover {
    background: var(--primary-background-color);
  }
  .drop-menu li {
    margin: 0;
  }
  .drop-menu li a {
    border-radius: 5px;
    font-size: 18px;
  }
  .mega-box {
    position: static;
    top: 65px;
    opacity: 1;
    visibility: visible;
    padding: 0 20px;
    max-height: 0px;
    overflow: hidden;
    transition: all 0.3s ease;
  }
  .mega-box .content {
    box-shadow: none;
    flex-direction: column;
    padding: 20px 20px 0 20px;
  }
  .mega-box .content .row {
    width: 100%;
    margin-bottom: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.08);
  }
  .mega-box .content .row:nth-child(1),
  .mega-box .content .row:nth-child(2) {
    border-top: 0px;
  }
  .content .row .mega-links {
    border-left: 0px;
    padding-left: 15px;
  }
  .row .mega-links li {
    margin: 0;
  }
  .content .row header {
    font-size: 19px;
  }

  .nav-links li:last-child {
    margin-left: 30px;
}

  /* Hero Section */
  .hero-container {
      flex-direction: column;
      align-items: center;
      gap: 20px;
  }
  .hero-container .left-panel {
  order: 1;  
  }

  .hero-container .right-panel {
  order: 2;
  }


.wrapper .bookmark{ 
  position: absolute;
  top: 67%;
  left: 0;
  transform: translate(-50%, -50%);
  width: 6px;
  height: 75px;
  padding: 0px; 
  -webkit-transform: rotate(0deg) skew(0deg); 
  transform: rotate(0deg) skew(0deg); 
  border-left: 39px solid var(--yellow_level_0); 
  border-right: 39px solid var(--yellow_level_0); 
  border-bottom: 50px solid transparent; 
}

#cta {
  cursor: pointer;
  text-decoration: none;
  padding: 10px 7.5px;
  font-family: var(--font_three);
  color: var(--white_level_0);
  font-size: var(--font_size_3);
  font-weight: var(--font_weight_6);

}

}


/* Responsive Design */
@media (max-width: 768px) {
  .hero-container {
    flex-direction: column; /* Stack items vertically on small screens */
  }

  .left-panel h1 {
    font-size: 2rem; /* Adjust font size for smaller screens */
  }

  .left-panel p {
    font-size: 0.9rem;
  }

  .cta-button {
    padding: 10px 20px;
    font-size: 0.9rem;
  }

  .bottom-section {
    flex-direction: column; /* Stack cards vertically */
    gap: 15px;
  }
  .cta-main-container {
    flex-direction: column;
  }
}

/* MVV Section */

@media (max-width: 768px) {


  .vision, .mission{
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
  }
  .core_values_heading_container{
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}
